.flex__actionUser{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.link__register{
	color: black;
	text-decoration:underline;
	white-space: nowrap;
}

.link__btn{
	background: var(--primary);
	color: white;
	padding: .5rem 2rem;
	border-radius: 6px;
	font-size: 1rem;
	font-weight: 700;
	transition: background 0.3s ease;
}

.link__btn:hover{
	opacity: 0.8;
}