/* .container__home__cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}


.wrapper{
    display: grid;
    grid-template-columns: 20% auto;
    gap:1.6rem;
    padding: 3rem 1rem;
    max-width: 1440px;
    margin: 0 auto;
}
 

 

.container__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; 
}

@media screen and (min-width:320px) and (max-width:426px){

    .wrapper{
        display: flex;
        flex-direction: column;
    }

    .container__cards{
        display: flex;
        flex-direction: column;
    }

    .container__home__cards{
        display: flex;
        flex-direction: column;
    }
}


@media screen and (min-width:427px) and (max-width:770px){
    .container__home__cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:770px) and (max-width:992px){
    .container__home__cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

  */