.container__page__filter {
  margin: 1rem;
  padding: 1rem;
}

.sidebar {
  max-width: 220px;
  box-shadow: 0 2px 2px 2px #ccc;
  margin: 1rem 0;
  padding: 1rem 2rem;
  min-width: 100%;

    @media (max-width:769px){
      display: none;
    }
}

h3.titleFilter{
  padding: 2rem 0 .4rem 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.548);
  width: fit-content;
}

h4.titleFilter{
  margin: 1.6rem 0 0 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.dflex {
  display: flex;
  align-items: center;
  gap: 3px;
}

.checkbox,
.label {
  width: auto;
  font-weight: 500;
}

.checkbox {
  margin: 10px 0 0 0;
  display: block;
}

.container__cards {

  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.container__cards__filter {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.btnFilter{
  display: block;
  width: 100%;
  border: 0;
  padding: .3rem;
  margin: .3rem auto;
  background: var(--primary);
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 2px 2px #ccc;
        max-width: 320px;
        margin: 0 0 1rem 0;
    @media(min-width:769px){
      display: none;
      margin: 0 auto;
    }

}

@media (min-width:769px) {
  .container__cards {
    max-width: 640px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .container__page__filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
   }

  .sidebar{
    margin-top: 0;
    height: fit-content;
    border-radius: 5px;
  }
  .container__cards__filter {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }
}


@media (min-width: 993px) {

  .container__page__filter {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }


  .container__cards {
    max-width: 1190px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }


  .container__cards__filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width:1200px) {

  .container__page__filter {
    display: grid;
    grid-template-columns: 1fr 3fr;
    max-width: 1200px;
    margin: 0 auto;
  }

  .sidebar {
    box-shadow: 0 2px 2px 2px #ccc;
    padding: 0 2em;
    max-width: 300px;
  }

  .container__cards {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
  }

  .container__cards__filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}