.container__page__filter {
  margin: 1rem;
  padding: 1rem;
}

.sidebar {
  max-width: 220px;
  box-shadow: 0 2px 2px 2px #ccc;
  margin: 1rem 0;
  padding: 1rem 2rem;
  min-width: 100%;
}


.dflex {
  display: flex;
  align-items: center;
  gap: 3px;
}

.checkbox,
.label {
  width: auto;
}

.checkbox {
  margin: 10px 0 0 0;
  display: block;
}

.container__cards {

  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.container__cards__filter {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width:769px) {
  .container__cards {
    max-width: 640px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .container__page__filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .sidebar{
    margin-top: 0;
    height: fit-content;
    border-radius: 5px;
  }
  .container__cards__filter {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}


@media (min-width: 993px) {

  .container__page__filter {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }


  .container__cards {
    max-width: 1190px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }


  .container__cards__filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width:1200px) {

  .container__page__filter {
    display: grid;
    grid-template-columns: 1fr 3fr;
    max-width: 1440px;
    margin: 0 auto;
  }

  .sidebar {
    box-shadow: 0 2px 2px 2px #ccc;
    padding: 0 2em;
    max-width: 300px;
  }

  .container__cards {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
  }

  .container__cards__filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}