header{
	box-shadow: 0 2px 2px 2px rgb(0,0,0,0.1);
	padding: 0 1rem;
	position: fixed;
	width: 100%;
	background: white;
	z-index: 5;

		@media (min-width: 769px){
			padding: 1rem;
		}
}

.header-container{
	display: grid;
	grid-template-columns: 250px 3fr 2fr 40px;

	grid-template-areas: 'logo field actions carrinho'
	'containerMenu containerMenu containerMenu containerMenu';
	align-items: center;
	gap:18px;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 1rem;

		@media (max-width: 769px){
			grid-template-columns: 60px 3fr 2fr 40px;
		}
}

.logo{
	grid-area: logo;
	width: 180px;

		@media (min-width: 769px){
			width: 220px;
		}
 }

 .hamburguer{
	grid-area: hamburguer;
	 font-size: 2rem;
	 display: none;
 }

 .field, .field-computer{
	border:1px solid rgb(194, 175, 175);
	display:flex;
	align-items: center;
	grid-area: field;
	border-radius: 6px;
	padding: 0 1rem;
 }

 .field{
	margin-top: 1.5rem;
	width: 100%;
 }

 .field input, .field-computer input{
	outline: none;
	border:0;
	outline: none;
 }

 .actions{
 	grid-area: actions;
 }

 .carrinho{
 	grid-area:carrinho;
	justify-content: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.9rem;
	color: var(--primary);
	cursor: pointer;
 }

 .container-menu{
 	grid-area: containerMenu;
	max-width: 1200px;
	margin: 0 auto;
 }

 .menu{
		padding: 0;
		margin: 0;
		display: flex;
		gap:1.5rem;
	}

 .btnSearch{
	color: gray;
	cursor:pointer;
	grid-area: btnSearch;
	display: none;
 }

 .onlyComputer{
	display: block;
 }

.desktop-menu{
 	display: flex;
	gap: 1.6rem;
	grid-column: 1/-1;
	width: 500px;
	margin: 0;
	padding: 0;
}

.desktop-menu a{
	padding: .4rem;
}

a.active{
	border-bottom: 3px var(--primary) solid;
}
 .onlyMobile{
	display: none;
	margin: 0;
	padding: 0;
 }

 @media (max-width: 769px){

	.header-container{
		display: grid;
		grid-template-areas: 'field field field field fiedl'
		'hamburguer logo logo btnSearch carrinho' 
		'containerMenu containerMenu containerMenu containerMenu containerMenu';
		padding: 0 1rem;
	}

	.field{
		display: flex;
		grid-area: field;
	}

	.hamburguer{
		display: block;
		grid-area: hamburguer;
		cursor: pointer;
	}

	.btnSearch{
	color: gray;
	cursor:pointer;
	grid-area: btnSearch;
	display: block;
	font-size: 1.5em;
 }

	.actions{
		display: none;
	}

	.menu{
		padding: 0 1rem;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap:.8rem;
	}

	.field-computer{
		display: none;
	}

	.onlyComputer{
		display: none;
	}

	.onlyMobile{
		display: block;
	}

	.mobile-menu{
		min-height: 100vh;
	}

	ul.mobile-menu{
		margin: 0 0 0 1rem;
		padding: 0;
	}

	.mobile-menu a{
 		padding: .4rem 0;
		margin: .4rem 0;
		display: block;
		width: fit-content;
	}
	
 }


 
