 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 
*{
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
}

:root{
  --primary:#C92071;
  --warning: #F6AA1C;
  --black-leve: #474747;
  --white: #FFFFFF;
  --gray: #F5F5F5;

  --font-12: 12px;
  --font-14: 14px;
  --font-16: 16px;
  --font-24: 24px;
  --font-32: 32px;
  --font-48: 48px;
  --font-64: 64px;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}


.btn__back{
  display: block;
  margin: 2rem auto;
  background: var(--primary);
  color: white;
  padding: .6rem 1rem;
  width: fit-content;
}


.btn__back:hover{
  opacity: .8;
  transition: .3s ease-in-out;
}
 
 
.title__erro{
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
  padding: 1em 1em;
}

.image__erro{
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  display: flex;
}


/* font do item sessão  */
.fontStyle{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 28px;
  padding-top: 30px;
}

.container__custom{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
  }

p{
  margin:0;
  padding:0;
}

.white{
  background-color: var(--white);
}

 .ptt{
   padding: 10.5rem 0 0 0;
   margin: 0 auto;
   max-width: 1440px;

   @media (max-width: 769px){
    padding: 4.7rem 0  0 0;
  }
 }

 

.bg-primary-custom{
  background: var(--primary);
}

.cursor__pointer{
  cursor: pointer;
}

 
.color-primary-custom{
  color: var(--primary);
}
 

.fs-15{
  font-size:1.5rem;
}

 
.outline{
  outline: none;
}

  
 
.w-nowrap{
  white-space: nowrap;
}

a{
  text-decoration: none;
  color: black;
}
 